<div class="container">
    <!-- <script src="https://cdn.jsdelivr.net/gh/Namitor/Loquor@dev/plugin/source/loquor.js"></script> -->
    <script src="http://jayveestorage.qiniudn.com/public/js/loquor.js"></script>

	<!-- Loquor评论框 start -->
	<div id="loquor_container" data-loquor-id="jayvee_loquor" data-loquor-page-id="jayvee_loquor_<%=key%>" data-loquor-pagetitle="<%=title%>" data-loquor-pageurl="<%=url%>" style="width: 95%; margin: 0 auto">
</div>
	<!-- Loquor评论框 end -->
</div>
